.custom-swal {
  font-size: 8px;
  width: 20%; /* Adjust the font size as needed */
  background-color: #508d4ee0; /* Set the background color */
  color: white; /* Set text color to contrast with background */
  /* height: 10px; */
}
#myInput {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

table th, table td {
  text-align: left;
  padding: 12px;
}

table tr {
  border-bottom: 1px solid #ddd;
}

table tr.header, table tr:hover {
  background-color: #f1f1f1;
}















.page_404{ padding:40px 0; background:#ffffff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
  margin-top: 5%;margin-right: 10%;
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px; margin-right: 10%;}